.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0E1823;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.reviews-title {
    color: #FBFBFB;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
}

.reviews-text {
    color: #FBFBFB;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    opacity: 0.4;
}

.review-list {
    display: flex;
}

.review-list-item {
    border-radius: 24px;
    background: #FBFBFB;
    padding: 32px 8px;

}

.item-2 {
    display: none;
}

.item-3 {
    display: none;
}

.review-list-avatar {
   display: block;
   margin-right: auto;
   margin-left: auto;
    margin-bottom: 24px;
}

.reviews-list-fullname {
    color: #040306;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.reviews-list-text {
    color: rgba(4, 3, 6, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

  /* ==TABLET section-reviews== */

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 767px;
        padding: 0 32px;
    }

 /* ==TABLET section-reviews== */

 .section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.reviews-title {
    font-size: 48px;
}

.reviews-text {
    width: 571px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

.item-2 {
    display: block;
}

.review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.review-list-item {
    flex-basis: calc((100% - 32px) / 2);

}
}

/* ==DESKTOP_1280 section-reviews== */

@media screen and (min-width: 1280px) {
    
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

/* ==DESKTOP_1280 section-reviews== */

.reviews-title {
    width: 854px;
    margin-right: auto;
    margin-left: auto;
}

.item-3 {
    display: block;
}

.review-list {
    gap: 26px;
}

.review-list-item {
    flex-basis: calc((100% - 52px) / 3);
    padding: 32px 28px;
    }

}

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

.container {
    max-width: 1440px;
    }

.review-list {
    width: 1240px;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    }

.review-list-item {
    flex-basis: calc((100% - 64px) / 3);
    padding: 32px 36px;
   }
}
/* ==DESKTOP_1440 section-reviews==*/


/* < !-- Our yachts --> */

.our-yachts-title {
    color: #FBFBFB;
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
}

.our-yachts-list {
    display: flex;
    margin-bottom: 40px;
    
}

.our-yachts-list-item {
    background: #FBFBFB;
        border-radius: 24px;
    padding-left:16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.our-yachts-img {
    margin-bottom: 32px;
 
}

.yachts-name-class {
position: relative;
display: flex;
width: 270px;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}

.our-yachts-name {
    color: #1B414B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    overflow: hidden;
}


.our-yachts-class {
 
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.4;
    margin-bottom: 32px;
}

.yachts-name-class::after {
    content: "";
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 16px;
    height: 1px;
    width: 272px;
    background-color: rgba(4, 3, 6, 0.10);
}
.our-yachts-categories-characteristic {
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.our-yachts-categories-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.our-yachts-categories-text {
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.4;
}

.our-yachts-characteristic-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.our-yachts-characteristic-text {
    color: #040306;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.03em;
}

.yahts-belle-anna {
    display: none;
}

.yahts-benetti {
    display: none;
}

.our-yachts-link {
    display: block;
    color: #FBFBFB;
    width: 141px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    padding: 14px 31px;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    margin-right: auto;
    margin-left: auto;
    transition: color 250ms linear, background-color 250ms linear ;
}

.our-yachts-link:hover,
.our-yachts-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;

}


/* ==TABLET section-our-yachts== */

@media screen and (min-width: 768px) {

    .container {
            max-width: 767px;
            padding: 0 32px;
        }

    /* ==TABLET section-our-yachts== */
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.our-yachts-title {
    font-size: 48px;
    margin-bottom: 75px;
    width: 645px;
    margin-left: auto;
    margin-right: auto;
}

.yahts-benetti {
    display: block;
}

.our-yachts-list {
    gap: 32px;
    flex-direction: row;
    margin-bottom: 50px;
   

}

.our-yachts-list-item {
flex-basis: calc((100% - 32px) / 2);
}
 
.our-yachts-name {
    width: 147px;
    height: 19px;
}

}

/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

    /* ==DESKTOP_1280 section-reviews== */

    .our-yachts-title {
        width: 714px;
        margin-right: auto;
        margin-left: auto;
    }

    .yahts-belle-anna {
        display: block;
    }

    .our-yachts-list {
        gap: 25px;
    }

    .our-yachts-list-item {
        flex-basis: calc((100% - 50px) / 3);
        
    }
}

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
    }

    .our-yachts-list {
        width: 1240px;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
    }

.our-yachts-list-item {
        flex-basis: calc((100% - 64px) / 3);
        
        }
}

/* ==DESKTOP_1440 section-reviews==*/


/* ==Advantages== */

.advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 20px;
    border-radius: 24px;
    background: #1B414B;
    margin-bottom: 20px;
}

.advantages-list-number {
    color: #FBFBFB;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 36px;
}

.advantages-list-text {
    position: relative;
    width: 292px;
    color: #FBFBFB;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: -0.05em;
    opacity: 0.8;
}

.advantages-list-text::before {
    display: block;
    content: "";
    width: 295px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 18px;
    background: rgba(251, 251, 251, 0.10);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -18px;
}

.text {
width: 220px;
}

.advantages-img {
    border-radius: 24px;
}
    
/* ==TABLET section-reviews== */

@media screen and (min-width: 768px) {

    .container {
        max-width: 767px;
        padding: 0 32px;
    }

    .section {
        padding-top: 75px;
        padding-bottom: 75px;
    }

.advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px 32px;
    padding: 90px 32px;
    margin-bottom: 32px;
}

.advantages-list-item {
  width: 303px;
}

.advantages-list-number {
    font-size: 32px;
}

.advantages-list-text {
    color: #FBFBFB;
        font-size: 13px;
        line-height: 1.15;
        letter-spacing: -0.02em;
}

.advantages-list-text::before {
    width: 304px;
}
}
   /* ==TABLET section-reviews== */


/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1280px) {

.container {
    max-width: 1280px;
    padding: 0 50px;
}

.advantages-list {
    gap: 44px 44px;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 50px;
    padding-right: 62px;
    margin-bottom: 0;
}

.advantages-list-text::before {
width: 280px;
}

.advantages-list-item {
    width: 280px;
}

.container-des {
    display: flex;
    gap: 32px;
}

}

/* ==DESKTOP_1280 section-reviews== */

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

.container {
    max-width: 1440px;
    }

.advantages-list {
    padding-right: 50px;
    gap: 44px 32px;
    }

.advantages-list-item {
    width: 318px;
    }

.advantages-list-text::before {
    width: 318px;
}
}


/* ==DESKTOP_1440 section-reviews==*/



/* < !-- About us SECTION -->*/


.about-us-wrapper {
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    background: #FBFBFB;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

  
}

.about-us-title {
    color: #1B414B;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.container-img {
    height: 775px;
    position: relative;
    background-color: #FBFBFB;
   border-radius: 24px;
}

.about-us-text-advantages {
    color: #1B414B;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-us-text {
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    opacity: 0.4;
}



.about-us-img {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    max-width: 100%;
    position: absolute;
    bottom: -1px;
}

/* ==TABLET section-about us== */

@media screen and (min-width: 768px) {

.container {
    max-width: 767px;
    padding: 0 32px;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-img {
    height: 950px;
}

.about-us-title {
    color: #1B414B;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 50px;
}

.about-us-text-advantages {
    font-size: 23px;
    width: 389px;
}

.about-us-text {
    font-size: 13px;
    line-height: 1.15;
    width: 385px;
}

.about-us-wrapper {
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 136px;
    padding-bottom: 50px;
}
}

/* ==TABLET section-about us== */

/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1280px) {

    .container {
    max-width: 1280px;
    padding: 0 50px;
}

.container-img {
    height: 830px;
}

.about-us-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
}

.about-us-title {
    width: 537px;
    margin-bottom: 0;
}

.about-us-text-advantages-wrapper {
  display: flex;
  flex-direction: column;
}

.about-us-text-advantages {
    width: 354px;
}

.about-us-text {
    width: 354px;
}
.about-us-img {
    border-top-right-radius: 24px;
}
.about-us-img {
    width: 1340px;
    height: 470px;
 
}
}

/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1440px) {

.container {
    max-width: 1440px;
    
}

.container-img {
    height: 807px;
}

.about-us-text-advantages {
    width: 404px;
  
}


}