.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #0E1823;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.img {
    display: block;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}


.container {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.reviews-title {
    color: #FBFBFB;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    margin-bottom: 25px;
}

.reviews-text {
    color: #FBFBFB;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
    opacity: 0.4;
}

.review-list {
    display: flex;
}

.review-list-item {
    border-radius: 24px;
    background: #FBFBFB;
    padding: 32px 8px;

}

.item-2 {
    display: none;
}

.item-3 {
    display: none;
}

.review-list-avatar {
   display: block;
   margin-right: auto;
   margin-left: auto;
    margin-bottom: 24px;
}

.reviews-list-fullname {
    color: #040306;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    margin-bottom: 8px;
}

.reviews-list-text {
    color: rgba(4, 3, 6, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.02em;
}

  /* ==TABLET section-reviews== */

@media screen and (min-width: 768px) {
    
    .container {
        max-width: 767px;
        padding: 0 32px;
    }

 /* ==TABLET section-reviews== */

 .section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.reviews-title {
    font-size: 48px;
}

.reviews-text {
    width: 571px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 75px;
}

.item-2 {
    display: block;
}

.review-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.review-list-item {
    flex-basis: calc((100% - 32px) / 2);

}
}

/* ==DESKTOP_1280 section-reviews== */

@media screen and (min-width: 1280px) {
    
    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

/* ==DESKTOP_1280 section-reviews== */

.reviews-title {
    width: 854px;
    margin-right: auto;
    margin-left: auto;
}

.item-3 {
    display: block;
}

.review-list {
    gap: 26px;
}

.review-list-item {
    flex-basis: calc((100% - 52px) / 3);
    padding: 32px 28px;
    }

}

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

.container {
    max-width: 1440px;
    }

.review-list {
    width: 1240px;
    gap: 32px;
    margin-left: auto;
    margin-right: auto;
    }

.review-list-item {
    flex-basis: calc((100% - 64px) / 3);
    padding: 32px 36px;
   }
}
/* ==DESKTOP_1440 section-reviews==*/


/* < !-- Our yachts --> */

.our-yachts-title {
    color: #FBFBFB;
        text-align: center;
        font-size: 28px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
}

.our-yachts-list {
    display: flex;
    margin-bottom: 40px;
    
}

.our-yachts-list-item {
    background: #FBFBFB;
        border-radius: 24px;
    padding-left:16px;
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 32px;
}

.our-yachts-img {
    margin-bottom: 32px;
 
}

.yachts-name-class {
    position: relative;
display: flex;
width: 270px;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}

.our-yachts-name {
    color: #1B414B;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    overflow: hidden;
}


.our-yachts-class {
 
    color: #040306;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.4;
    margin-bottom: 32px;
}

.yachts-name-class::after {
    content: "";
    position: absolute;
    display: block;
margin-left: auto;
margin-right: auto;
    bottom: 16px;
    height: 1px;
    width: 272px;
    background-color: rgba(4, 3, 6, 0.10);;

}
.our-yachts-categories-characteristic {
    width: 270px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.our-yachts-categories-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.our-yachts-categories-text {
    color: #040306;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    opacity: 0.4;
}

.our-yachts-characteristic-list {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.our-yachts-characteristic-text {
    color: #040306;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.03em;
}

.yahts-belle-anna {
    display: none;
}

.yahts-benetti {
    display: none;
}

.our-yachts-link {
    display: block;
    color: #FBFBFB;
    width: 179px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: -0.02em;
    padding: 16px 39px;
    border-radius: 15px;
    border: 1px solid rgba(251, 251, 251, 0.35);
    margin-right: auto;
    margin-left: auto;
    transition: color 250ms linear, background-color 250ms linear ;
}

.our-yachts-link:hover,
.our-yachts-link:focus {
    color: #1B414B;
    background-color: #FBFBFB;

}

/* .how-made-link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    min-width: 183px;
    border-radius: 100px;
    border: 1px solid #FFF;
    padding: 14px 40px;
    margin-right: auto;
    transition: color 250ms linear, border-color 250ms linear;
}

.how-made-link:hover,
.how-made-link:focus {
    color: #FD9222;
    border-color: #fd9222;
} */

/* ==TABLET section-our-yachts== */

@media screen and (min-width: 768px) {

    .container {
            max-width: 767px;
            padding: 0 32px;
        }

    /* ==TABLET section-our-yachts== */
.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.our-yachts-title {
    font-size: 48px;
    margin-bottom: 75px;
    width: 645px;
    margin-left: auto;
    margin-right: auto;
}

.yahts-benetti {
    display: block;
}

.our-yachts-list {
    gap: 32px;
    flex-direction: row;
    margin-bottom: 50px;
   

}

.our-yachts-list-item {
flex-basis: calc((100% - 32px) / 2);
}
 
.our-yachts-name {
    width: 147px;
    height: 19px;
}

}

/* ==DESKTOP_1280 section-our-yachts== */

@media screen and (min-width: 1280px) {

    .container {
        max-width: 1280px;
        padding: 0 50px;
    }

    /* ==DESKTOP_1280 section-reviews== */

    .our-yachts-title {
        width: 714px;
        margin-right: auto;
        margin-left: auto;
    }

    .yahts-belle-anna {
        display: block;
    }

    .our-yachts-list {
        gap: 25px;
    }

    .our-yachts-list-item {
        flex-basis: calc((100% - 50px) / 3);
        
    }
}

/* ==DESKTOP_1440 section-reviews== */

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
    }

    .our-yachts-list {
        width: 1240px;
        gap: 32px;
        margin-left: auto;
        margin-right: auto;
    }

.our-yachts-list-item {
        flex-basis: calc((100% - 64px) / 3);
        
        }
}

/* ==DESKTOP_1440 section-reviews==*/